site_name: Blackboard QA Automation
site_description: Documentation for Blackboard LMS Manual QA
theme:
  name: material
  features:
    - navigation.expand
    - navigation.sections
    - navigation.top
  palette:
    # Palette toggle for light mode
    - scheme: default
      primary: teal
      accent: purple
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode

    # Palette toggle for dark mode
    - scheme: slate
      primary: teal
      accent: lime
      toggle:
        icon: material/brightness-4
        name: Switch to light mode

nav:
  - Home: index.md
  - Onboarding:
      - QA Guide: QA_Onboarding_Guide.md
  - Reference:
      - QA Protocols: qa_protocols.md
      - Checklists:
          - Student QA Checklist: student_qa_checklist.md
          - Form Mapping: form_mapping.md
